#middle-text {
	opacity: 0;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 10px;
	color: white;
	font-size: 30px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.65);
	/* border: 1px solid red; */
}

#top-text {
	opacity: 0;
	position: fixed;
	left: 15px;
	top: 15px;
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 22px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}
